# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directory
build/

# Local development environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
